
@font-face {
    font-family: 'Conv_ApercuPro-Regular';
    src: url('/web/fonts/ApercuPro/ApercuPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ApercuPro-Bold';
    src: url('/web/fonts/ApercuPro/ApercuPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_pro';
    src: url('/web/fonts/ApercuPro/apercupro-regular-webfont.eot');
    src: url('/web/fonts/ApercuPro/apercupro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/web/fonts/ApercuPro/apercupro-regular-webfont.woff') format('woff'),
    url('/web/fonts/ApercuPro/apercupro-regular-webfont.ttf') format('truetype'),
    url('/web/fonts/ApercuPro/apercupro-regular-webfont.svg#apercu_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apercu_pro';
    src: url('/web/fonts/ApercuPro/apercupro-bold-webfont.eot');
    src: url('/web/fonts/ApercuPro/apercupro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/web/fonts/ApercuPro/apercupro-bold-webfont.woff') format('woff'),
    url('/web/fonts/ApercuPro/apercupro-bold-webfont.ttf') format('truetype'),
    url('/web/fonts/ApercuPro/apercupro-bold-webfont.svg#apercu_proregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'apercu_pro_bold';
    src: url('/web/fonts/ApercuPro/apercupro-bold-webfont.eot');
    src: url('/web/fonts/ApercuPro/apercupro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/web/fonts/ApercuPro/apercupro-bold-webfont.woff') format('woff'),
    url('/web/fonts/ApercuPro/apercupro-bold-webfont.ttf') format('truetype'),
    url('/web/fonts/ApercuPro/apercupro-bold-webfont.svg#apercu_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apercu_pro_light';
    src: url('/web/fonts/ApercuPro/apercupro-light-webfont.eot');
    src: url('/web/fonts/ApercuPro/apercupro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/web/fonts/ApercuPro/apercupro-light-webfont.woff') format('woff'),
    url('/web/fonts/ApercuPro/apercupro-light-webfont.ttf') format('truetype'),
    url('/web/fonts/ApercuPro/apercupro-light-webfont.svg#apercu_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}